/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

/* import google fonts here, also TODO: figure out single line comments*/
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100&family=Lancelot&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Lancelot", serif;
  font-weight: 100;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.corner {
  position: absolute;
  top: -10%;
  right: -5%;
  transform: scale(-0.5, 0.5) translate(-100px, -100px);
  z-index:10;
}

.botcorner {
  position: absolute;
  bottom: -10%;
  right: -5%;
  transform: scale(-0.5, -0.5) translate(-100px, -100px);
  z-index:10;
}


.centered1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  border-radius: 8px;
  display: block;
  height: 800px;
  filter: hue-rotate(-10deg);
  opacity: 50%;
}

.title {
  font-size: 150px;
  z-index:10;
  position: relative;
  text-align: left;
}

.row {
  display: flex;
}

a:link, a:visited {
  color: white;
  font-size:30px;
  text-align: center;
  text-decoration: none;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  outline-color: white;
  outline-style:solid;
  outline-width: 1px;
}

@keyframes zoom_button {
  from {padding:10px;
      padding-left: 20px;
      padding-right: 20px;}
  to {padding:15px;
      padding-left: 25px;
      padding-right: 25px;}
}

a:hover{
  animation-name: zoom_button;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  color: white;
  font-size:30px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  outline-color: white;
  outline-style:solid;
  outline-width: 1px;
}

/* Create two equal columns that sits next to each other */
.column1 {
  flex: 10%;
  width:300px;
  padding:20px;
}
.column2 {
  flex: 90%;
}

@keyframes zoom {
  from {width: 90%;}
  to {width: 100%;}
}

.animated {
  animation-name: zoom;
  animation-duration: 4s;
}